*{
    box-sizing: border-box;
}

.book-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media screen and (max-width:900px){
    .book-items{
    grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:600px){
    .book-items{
    grid-template-columns: repeat(1, 1fr);
    }
}